@import url('https://fonts.googleapis.com/css?family=Handlee|Source+Serif+Pro');

body{
	font-family: 'Source Serif Pro', serif;
}


a {
	font-size: 18px;
	color: #720062;
}

a:visited {
	color: black;
	font-style: italic;
}

section{
	margin: 50px;
	padding: 20px;
}

h1 {
	color: #00718F;
	font-family: 'Handlee', cursive;
	font-size: 42px;
	text-shadow: 4px 3px #D3D3D3;
}

h2 {
	color: #00718F;
	font-family: 'Handlee', cursive;
	font-size: 48px;
}

h6 {
	font-style: italic;
}

hr{
	border: 0;
	box-shadow: 0 20px 20px -20px #AAB3BC inset;
	height: 10px;
}

p {
	line-height: 1.5;
	font-size: 18px;
}

/* Navbar styling Starts */
nav {
	background-color: #00718F;
}

.nav-link {
	color: whitesmoke !important;
	margin: 5px;
}

.nav-link:hover{
	text-transform: uppercase;
}

.navbar-toggler-icon {
	background-color:#AAB3BC;
}

.myPic {
	border-radius: 20%;
	border: 2px solid #00495C;
	height: 100px;
}
/* Navbar styling ENDS */

.toTop{
	color: #720062;
	display: block;
	margin-top: 15px;
	text-align: right;
}

/* Create a image tag on hover - STARTS*/
.imgBox {
	position: relative;
}

.imgCenter {
transition: 1.5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.imgBox:hover .imgCenter {
opacity: 1;
}

.imgText {
background-color: #720062;
color: white;
font-size: 14px;
padding: 10px 20px;
}
/* Create a image tag on hover - ENDS*/

.owl {
	height: 60px;
}

.owl:hover{
	transition: 3s ease;
	transform: scaleX(1.15)
}

/* Portfolio Card Styling - STARTS */
.card {
	border: 3px solid #AAB3BC;
}

.card:hover{
background-color: #D3D3D3;
}

.card-title {
	background: #00718F;
	color: #ffffff;
	font-size: 24px;
	padding: 10px;
	text-align: center;
}

.techUsed{
	font-size: 16px;
	font-style: italic;
}

.github {
	display: block;
	margin: 10px;
}
/* Portfolio Card Styling - STARTS */

/* Resize contact icons */
.linkedin{
	height: 50px;
}

.email {
	height: 40px;
}
