@import url('https://fonts.googleapis.com/css?family=Handlee|Source+Serif+Pro');

body{
	font-family: 'Source Serif Pro', serif;
}

nav {
	background-color: #00718F;
	border-bottom: 5px solid #AAB3BC;
}

a, h4 {
	color: #720062;
}

section{
	margin: 50px;
	padding: 20px;
}

h1 {
	color: #00718F;
	font-family: 'Handlee', cursive;
	font-size: 38px;
	text-shadow: 4px 3px #C6CCD3;
}
	
h2 {
	color: #00718F;
	font-family: 'Handlee', cursive;
	font-size: 48px;
}

h6 {
	font-style: italic;
}

hr{
	border: 0;
	box-shadow: 0 10px 10px -10px #AAB3BC inset;
	height: 10px;
}

p {
	line-height: 1.5;
	font-size: 18px;
}

.nav-link {
	color: whitesmoke !important;
	font-size: 18px;
	margin: 5px;
}

.nav-link:hover{
	color: whitesmoke;
	font-size: 20px;
}

.navbar-toggler-icon {
	background-color:#D3D3D3;
	}

.myPic {
	border-radius: 50%;
	height: 100px;
}

.blueRidge{
	margin-right: 30px;
}

.toTop{
	color: #720062;
	display: block;
	margin-top: 15px;
	text-align: right;
}

.card {
	border: 2px solid #AAB3BC;
}

.card-title {
	background: #00718F;
	color: #ffffff;
	font-size: 24px;
	padding: 10px;
	text-align: center;
}

.techUsed{
	font-size: 16px;
	font-style: italic;
}

.github {
	display: block;
	margin: 10px;
}

.linkedin{
	height: 50px;
}

.email {
	height: 40px;
}

